*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/* Navigation */
.navbar{
    position:fixed;
}


/* carousel */
.bg-image{
    background-image: url("../img/carousel1.jpg");
}
.bg-image2{
    background-image: url("../img/carousel2.jpg");
}
.bg-image3{
    background-image: url("../img/carousel3.jpg");
}