*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

/* Navigation */
header{
    
}

#svg{
    height: 50px;
    width: 50px;
}
.navbar{
    
    min-height: 1.5rem;
}

hr{
    height: 10px;
}

#aboutUs{
    background-color: #19541F;
    color: #FFFACA;
}

#formulario{
    background-color: rgba(86, 61, 45, 0.911);
    color: #DCAE96;
}

#botonFormulario{
    background-color: #C5832B;
}

#destacados{
    background-color: #486f65;
    color:#1c1b07;
}
footer{
    background-color:  #7C9060;
    color: #3E363F;
    padding: 1.5rem;
}

i{
    font-size: 1.5rem;
}

.figure{
    background-color: #0f1f19;
    color: #FFFACA;
}